In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read them in as two separate vs dictionary. Question on which one would be/would have been more beneificial in the long run
eco_exit_df = pd.read_excel("../data/teis_data.xlsx",sheet_name='ECO with Exit21-22')
elig_df = pd.read_excel("../data/teis_data.xlsx",sheet_name='Elig Timeline Rpt 2018-2022')
elig_df.head(5)

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [3]:
eco_exit_df.rename(columns={'CHILD_ID': 'Child_ID', 'DISTRICT': 'District'}, inplace=True)

In [4]:
eco_exit_df.head(5)

,District,Child_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [5]:
elig_df.rename(columns={'Child ID': 'Child_ID', 'DISTRICT': 'District', 'Init. Elig. Category': 'elig_cat'}, inplace=True)

In [6]:
elig_df.head(5)

,District,Child_ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,elig_cat,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [7]:
#elig_df.dtypes - checking for merge
# Child_ID is int

In [8]:
#eco_exit_df.dtypes - checking for merge - need to change float to int or int to float for Child ID
#Child_ID is float

In [9]:
elig_df = elig_df.astype({"Child_ID": 'float'})

In [10]:
eco_elig_combined = eco_exit_df.merge(elig_df, on=["District","Child_ID"],how="outer")

In [11]:
# elig_df.shape
#eco_exit_df.shape
#checking to see if the merge maintained file integrity. Seems like it did. 
#eco_elig_combined.shape

In [12]:
#display merged DF
eco_elig_combined

,District,Child_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,elig_cat,Init. Elig. Det. Date,Exit Date_y,Exit Reason_y
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,7.0,7.0,NaN,9.0,20.0,Eligible,Developmental Evaluation,2021-04-14,2021-11-15,618 - Part B eligible
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,-1.0,7.0,0.0,8.0,15.0,Eligible,Developmental Evaluation,2020-03-20,2022-02-25,618 - Completion of IFSP/ no longer requires s...
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,7.0,9.0,10.0,22.0,Eligible,Developmental Evaluation,2021-10-01,2022-02-06,618 - Part B eligible
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,0.0,NaN,NaN,1.0,14.0,Eligible,Developmental Evaluation,2019-01-16,2021-12-19,618 - Part B eligible
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,10.0,31.0,0.0,2.0,34.0,Eligible,Developmental Evaluation,2021-08-04,2022-02-01,618 - Parent withdraw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67618,UC,514221.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,8.0,11.0,6.0,12.0,26.0,Eligible,Developmental Evaluation,2021-12-01,2022-07-08,618 - Part B eligibility not determined
67619,UC,525915.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,1.0,6.0,0.0,2.0,9.0,Eligible,Developmental Evaluation,2022-05-05,2022-06-26,Unable to contact
67620,UC,516841.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,18.0,22.0,6.0,8.0,33.0,Eligible,Developmental Evaluation,2022-01-12,2022-08-04,618 - Parent withdraw
67621,UC,526338.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,1.0,3.0,0.0,2.0,6.0,Eligible,Developmental Evaluation,2022-04-13,2022-07-25,618 - Parent withdraw
67622,UC,511641.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,7.0,NaN,11.0,21.0,Eligible,Diagnosed Condition,2021-10-29,2022-06-22,Parent decline

In [13]:
eco_elig_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67623 entries, 0 to 67622
Data columns (total 96 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   District                                          67620 non-null  object
 1   Child_ID                                          67619 non-null  float64
 2   ECO_Entry_DATE                                    5721 non-null   datetime64[ns]
 3   Ent SOCIAL_SCALE                                  5721 non-null   float64
 4   Ent KNOWLEDGE_SCALE                               5721 non-null   float64
 5   Ent APPROPRIATE_ACTION_SCALE                      5721 non-null   float64
 6   ECO_Exit_DATE                                     5721 non-null   datetime64[ns]
 7   Exit SOCIAL_SCALE                                 5721 non-null   float64
 8   Exit KNOWLEDGE_SCALE                              5721 non-null   float64
 9   Exit APPROPRIATE_ACTION_SCALE                     5721 non-null   float64
 10  ExitIS_SOCIAL_PROGRESS                            5721 non-null   object
 11  ExitIS_KNOWLEDGE_PROGRESS                         5721 non-null   object
 12  ExitIS_APPROPRIATE_ACTION_PROGRESS                5721 non-null   object
 13  Initial IFSP Date                                 8632 non-null   datetime64[ns]
 14  Exit Reason_x                                     8632 non-null   object
 15  Exit Date_x                                       8632 non-null   datetime64[ns]
 16  <Lookup> Expected Rating                          8632 non-null   object
 17  <Calc> Months in Program                          8632 non-null   float64
 18  <Calc> Entrance Age (months)                      8632 non-null   float64
 19  <Calc> Day count                                  5721 non-null   float64
 20  <Calc> Month count                                5721 non-null   float64
 21  <Calc> Missing Entrance Date                      2911 non-null   float64
 22  <Calc> Missing Exit Dates                         2911 non-null   float64
 23  <Calc> Missing Both Ent & Exit Dates              2911 non-null   float64
 24  <Calc> Record Count                               8632 non-null   float64
 25  <Calc> Day count 182 days +                       6806 non-null   float64
 26  <Calc> Exit Day cnt < 182 days                    2501 non-null   float64
 27  OC1 Missing Exit Rating                           2911 non-null   float64
 28  OC2 Missing Exit Rating                           2911 non-null   float64
 29  OC3 Missing Exit Rating                           2911 non-null   float64
 30  OC1 Not Expected                                  481 non-null    float64
 31  OC2 Not Expected                                  481 non-null    float64
 32  OC3 Not Expected                                  481 non-null    float64
 33  <Calc> Day count less than 182                    2501 non-null   float64
 34  OC1 Useable Data                                  5595 non-null   float64
 35  OC2 Useable Data                                  5595 non-null   float64
 36  OC3 Useable Data                                  5595 non-null   float64
 37  Usable Data on at least one Outcome               5595 non-null   float64
 38  Usable Data on All 3 Outcomes                     5595 non-null   float64
 39  OC1 - a                                           20 non-null     float64
 40  OC1 - b                                           1441 non-null   float64
 41  OC1 - c                                           1414 non-null   float64
 42  OC1 - d                                           1842 non-null   float64
 43  OC1 - e                                           878 non-null    float64
 44  OC1 Data Check                                    8632 non-null   float64
 45  OC2 - a                                           29 non-null     float64
 46  OC2 - b                                           2633 non-null   float64
 47  OC2 - c                                           1016 non-null   float64
 48  OC2 - d                                           1362 non-null   float64
 49  OC2 - e                                           555 non-null    float64
 50  OC2 Data Check                                    8632 non-null   float64
 51  OC3 - a                                           14 non-null     float64
 52  OC3 - b                                           1430 non-null   float64
 53  OC3 - c                                           816 non-null    float64
 54  OC3 - d                                           1760 non-null   float64
 55  OC3 - e                                           1575 non-null   float64
 56  OC3 Data Check                                    8632 non-null   float64
 57  Days btw Initial and Exit                         8632 non-null   float64
 58  Days btw I-IFSP to Exit ECO                       8632 non-null   float64
 59  Days btw I-IFSP to entry ECO                      8632 non-null   float64
 60  Child Status                                      67610 non-null  object
 61  Child Phase                                       67610 non-null  object
 62  Init. IFSP Due Date                               67610 non-null  datetime64[ns]
 63  IFSP Due Date                                     33237 non-null  datetime64[ns]
 64  IFSP Late Reason                                  4780 non-null   object
 65  Active Ref. Date                                  67610 non-null  datetime64[ns]
 66  Parent Consent/Intake Date                        49210 non-null  datetime64[ns]
 67  Date Dev. Evaluator Rec'd. Ref.                   62074 non-null  object
 68  Date Assigned to Dev. Evaluator                   62074 non-null  object
 69  Dates Dev. Evaluator Attempted to Contact Family  55645 non-null  object
 70  Date Dev. Evaluator Actually Contacted Family     50163 non-null  object
 71  Dates Med. Records Requested                      33866 non-null  object
 72  Date Med. Records Rec'd                           36456 non-null  object
 73  Date Med. Records Entered                         36521 non-null  object
 74  TEIS Vision Screening Form?                       67610 non-null  object
 75  TEIS Hearing Screening Form?                      67610 non-null  object
 76  Date Initial Dev. Eval. Completed                 49942 non-null  object
 77  Motor DQ                                          23047 non-null  float64
 78  Cognitive DQ                                      23042 non-null  float64
 79  Communication  DQ                                 23043 non-null  float64
 80  Self Help DQ                                      23039 non-null  float64
 81  Social/Emotional DQ DQ                            23036 non-null  float64
 82  # Days Ref. to Init. Contact                      55641 non-null  float64
 83  # Days Ref. to Actual Contact                     50163 non-null  float64
 84  # Days Ref. to Dev. Evaluator Ref. Rec'd          62074 non-null  float64
 85  # Days Ref. to Completion of Dev. Eval.           49942 non-null  float64
 86  # Days Parent Consent to Dev. Eval.               48899 non-null  float64
 87  # Days Dev. Evaluator Assigned to Dev. Eval.      47014 non-null  float64
 88  1st Date Requested to Receipt of Med. Records     32340 non-null  float64
 89  # Days Dev. Eval. to Elig. Det.                   49148 non-null  float64
 90  # Days Ref. to Elig. Det.                         49151 non-null  float64
 91  Init. Elig. Decision                              67610 non-null  object
 92  elig_cat                                          38290 non-null  object
 93  Init. Elig. Det. Date                             49151 non-null  datetime64[ns]
 94  Exit Date_y                                       59456 non-null  datetime64[ns]
 95  Exit Reason_y                                     59456 non-null  object
dtypes: datetime64[ns](10), float64(64), object(22)
memory usage: 50.0+ MB

In [14]:
#replacing spaces in column names with underscore so I don't have problems later with .functions - not sure if this is necessary. the google was unclear
# eco_elig_combined.columns = eco_elig_combined.columns.str.replace(' ','_')
# not need as we're dropping columns.

In [15]:
#formula for keeping only certain columns
eco_elig_combined2 = eco_elig_combined[["District","Child_ID","<Calc> Months in Program","Ent SOCIAL_SCALE","Ent KNOWLEDGE_SCALE","Ent APPROPRIATE_ACTION_SCALE","Exit SOCIAL_SCALE","Exit KNOWLEDGE_SCALE","Exit APPROPRIATE_ACTION_SCALE","elig_cat","OC1 Data Check"
]]

In [16]:
# trying to drop the rows from OC1 but I don't think it worked
eco_elig_combined2 = eco_elig_combined2[eco_elig_combined2['OC1 Data Check'].notna()]

In [17]:
eco_elig_combined2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8632 entries, 0 to 8631
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   District                       8632 non-null   object
 1   Child_ID                       8632 non-null   float64
 2   <Calc> Months in Program       8632 non-null   float64
 3   Ent SOCIAL_SCALE               5721 non-null   float64
 4   Ent KNOWLEDGE_SCALE            5721 non-null   float64
 5   Ent APPROPRIATE_ACTION_SCALE   5721 non-null   float64
 6   Exit SOCIAL_SCALE              5721 non-null   float64
 7   Exit KNOWLEDGE_SCALE           5721 non-null   float64
 8   Exit APPROPRIATE_ACTION_SCALE  5721 non-null   float64
 9   elig_cat                       8621 non-null   object
 10  OC1 Data Check                 8632 non-null   float64
dtypes: float64(9), object(2)
memory usage: 809.2+ KB

In [20]:
#next step is to subset the data into each category for the read me

dev_delay = eco_elig_combined2[eco_elig_combined2["elig_cat"].isin(["Developmental Evaluation"])]
diag_cond = eco_elig_combined2[eco_elig_combined2["elig_cat"].isin(["Diagnosed Condition"])]
dev_diag_combined = eco_elig_combined2[eco_elig_combined2["elig_cat"].isin(["Diagnosed Condition, Developmental Evaluation"])]

In [21]:
dev_delay

,District,Child_ID,<Calc> Months in Program,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,elig_cat,OC1 Data Check
0,ET,500335.0,7.0,5.0,3.0,4.0,6.0,3.0,4.0,Developmental Evaluation,1.0
1,ET,479453.0,23.0,7.0,7.0,7.0,7.0,7.0,7.0,Developmental Evaluation,1.0
2,ET,510663.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Developmental Evaluation,0.0
3,ET,452482.0,35.0,2.0,3.0,3.0,5.0,3.0,5.0,Developmental Evaluation,1.0
4,ET,506507.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,Developmental Evaluation,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8627,UC,485978.0,12.0,1.0,3.0,5.0,5.0,7.0,7.0,Developmental Evaluation,1.0
8628,UC,488802.0,12.0,4.0,4.0,3.0,6.0,7.0,7.0,Developmental Evaluation,1.0
8629,UC,516136.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Developmental Evaluation,0.0
8630,UC,490688.0,17.0,4.0,5.0,7.0,7.0,7.0,7.0,Developmental Evaluation,1.0
8631,UC,514216.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Developmental Evaluation,0.0

In [ ]:
# go back and look at the dropna code because it didn't work